<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Login Page</title>
		<!-- Thymeleaf generic header-css -->
		<div th:replace="fragments/header :: header-css" />
	</head>
	<body>
		<!-- Thymeleaf header navbar -->
		<div th:replace="fragments/header :: header" />
	<div class="container">
	<br>
	<br>
	<br>
	<div class="row text-black">
		<div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
		    <h1 class="display-4 py-2 text-truncate">Login</h1>
		    <p class="alert alert-danger" role="alert" th:if="${error}" th:text="${error}"></p>
			<form action="#" method="POST" th:action="@{/login}" th:object="${user}">
			
			<!-- Username input box-->
			<div class="form-group">
				<input id="name" name="name" type="text" placeholder="Username" class="form-control" required="" th:field="*{name}">
			</div>
			
			<!-- Password input box-->
			<div class="form-group">
				<input id="name" name="name" type="password" placeholder="Password" class="form-control" required="" th:field="*{password}">
			</div>
	
			<!-- Button -->
			<div class="form-group">
					<button id="submit" name="submit" class="btn btn-primary">Submit</button>
			</div>
			</form>
		</div>
	</div>
	</div>
	</body>
</html>