<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Login Page</title>
		<!-- Thymeleaf generic header-css -->
		<div th:replace="fragments/header :: header-css" />
	</head>
	<body>
		<!-- Thymeleaf header navbar -->
		<div th:replace="fragments/header :: header" />
		<br><br><br>
		<div class="container">
			<form action="#" th:action="@{/login}" method="post"  th:object="${user}" id="loginFormDiv">
				<fieldset>
					<legend>Login</legend>
					<label>User Name</label>
					<div>
						<input type="text" th:field="*{name}">
					</div>
		
					<label>Password</label>
					<div>
						<input type="text"  th:field="*{password}">
					</div>
		
					<div>
						<button value="Submit" name="submit">Login</button>
					</div>
				</fieldset>
				<a th:href="@{/register}">Register as new user</a>
			</form>
		</div>
		<br><br>
	</body>
</html>