<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>US National Data for COVID-19</title>
		<!-- Thymeleaf generic header-css -->
		<div th:replace="fragments/header :: header-css"></div>
	</head>
	<body>
		<!-- Thymeleaf header navbar -->
		<div th:replace="fragments/header :: header"></div>
		
		<br><br><br><br>
		<!-- filter container -->
		<div class="container-fluid">
			<div class="row d-flex justify-content-center">
				<div class="col-md-6">
					<form action="#" method="POST" th:action="@{/user}" th:object="${form}">
						<h4>Filter results</h4>
						
						<!-- state selector -->	
						State: 
						<select th:field="*{state}">
							<option th:value="${stateSelected}">[[${stateName}]]</option>
							<option value=""> --- </option>
							<option th:each="state : ${states}" id="${state.state_code}" 
							th:value="${state.state_code}">
							[[${state.state}]]</option>
						</select>
						
						<!-- date pulldown -->
						Date range:
						<select th:field="*{daysBack}">
							<option value="5">Past 5 days</option>
							<option value="10">Past 10 days</option>
							<option value="15">Past 15 days</option>
							<option value="20">Past 20 days</option>
							<option value="30">Past 30 days</option>
							<option value="all">All data</option>
						</select>
						
						<!-- list direction -->
						<select th:field="*{direction}">
							<option value="desc">Descending</option>
							<option value="asc">Ascending</option>
						</select>
						<button id="submit" name="submit" class="btn btn-primary">Filter</button>
					</form>
					<br><br>
					<!-- Table describing individual states' stats by date on y-axis-->
					<canvas id="lineChart"></canvas>
					<script th:inline="javascript">
						var ctxL = document.getElementById("lineChart").getContext('2d');
						var stateInfo = [[${stateInfo}]];
						var positive = [];
						var dead = [];
						var recovered = [];
						var dates = []
						stateInfo.forEach(state => {
							positive.push(state.testedPositive);
							dead.push(state.deaths);
							recovered.push(state.recovered);
							dates.push(state.date);
						});

						var myLineChart = new Chart(ctxL, {
							type: 'line',
							data: {
								labels: dates,
								datasets: [{
									label: "Positive cases",
									data: positive,
									backgroundColor: [
										'rgba(105, 0, 132, .2)',
									],
									borderColor: [
										'rgba(200, 99, 132, .7)',
									],
									borderWidth: 2
								},
								{
									label: "Deaths",
									data: dead,
									backgroundColor: [
										'rgba(0, 137, 132, .2)',
									],
									borderColor: [
										'rgba(0, 10, 130, .7)',
									],
									borderWidth: 2
								},
								{
									label: "Recovered",
									data: recovered,
									backgroundColor: [
										'rgba(0, 200, 10, .2)',
									],
									borderColor: [
										'rgba(0, 200, 12, .7)',
									],
									borderWidth: 2
								}
								]
							}
						});
					</script>
					
				</div>
			
				<div class="col">
				<!-- COCKTAIL AREA WOOOOOOO LET'S GET CHOCOLATE WASTED -->
				Create a cocktail: [[${coctail.name}]]. <br /> <br />
				<img th:src="${coctail.picUrl}"> <br /> <br />
				Instructions: [[${coctail.instructions}]]<br />			
				</div>	
			</div>
		</div>
	</body>
</html>